.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}








body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.app-container {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  min-height: 100vh;
  display: flex;
    justify-content: center;
  align-items: center;
  padding: 20px;
  color: #fff;
}

.task-container {
  background:cornsilk;
  color: #013a63;
  margin-bottom: 50px;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  font-family:cursive;
  max-width: 600px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.card {
  border: none;
  border-radius: 30px;
}


.addtask {
  background-color: #2B68EF;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
  padding: 10px;
  margin: 30px auto 50px auto;
  display: block;
  width: 30%;
  cursor: pointer;
}

.addtask:hover {
  background-color: #ffb703;
  font-weight: 800;
  }

.edittask {
    display: inline-block;
    text-align: center;
    align-items: center;
    margin: 10px 79px;
    padding: 10px 20px;
    background-color: #cfd5d6;
    color: #013a63;    
    border: rgb(170, 181, 185); 
    border-radius: 5px; 
    cursor: pointer;
    width: 120px;
  }
  
.edittask:hover {
    background-color: #0077b6;
    color: #fff;
  }

.sorttask {
  display: inline-block;
  text-align: center;
  align-items: center;
  margin: 20px 30px;
  padding: 10px 20px;
  background-color: #caf0f8;
  color: #013a63;  
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
  width: 140px;
}

.sorttask:hover {
  background-color: #2B68EF;
  color: #fff;
}

.create-task {
  display: block;
  text-align: center;
  align-items: center;
  margin: 20px 30px;
  padding: 10px 20px;
  background-color: #caf0f8;
  color: #013a63;  
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
  width: 160px;
}

.create-task:hover {
  background-color: #2B68EF;
  color: #fff;
}


.button-container {
  display: flex;
  justify-content: center;  /* Horizontally center the button */
  align-items: center;      /* Vertically center the button */
  height: 100vh;            /* Make sure the container takes full viewport height */
}

.row {
  display: flex;
  justify-content: space-between;
  margin:auto;
  gap: 10px; 
}

.col-md-6 {
  flex: 1;
}

.form-group {
  flex:1;
  margin-bottom: 90px;
  margin-top: 10px;
  }

.form-group-row {
  display:flex;
  flex-wrap:wrap;
  gap:20px;
}

textarea {
  min-height:70px;
  margin-top: 7px;
}

.button-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%; 
}

/*.todo {
  text-align: center;
  text-decoration:underline brown;
  } */

.forminput {
  display: block;
  width: 96.5%;
  height: 20px;
  padding: 5px 10px;
  margin: 10px 0;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2px;  
}

select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 5px 5px;
  margin: 10px 0;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2px;  
}

.task-card {
  background-color: #fff;
  padding:5px 20px;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 2px; 
  line-height: 15px;
}
 /* .background {
    background-image: url(components/pic.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    width: 100%; 
  } */